@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab:wght@400;600&display=swap');

/*TODO Mejorar aspecto del carousel en modo responsive*/

.carouselTitle {
    font-family: 'Roboto Slab';
}
.carouselContent {
    font-family: 'Raleway';
    font-weight: bold;
}
.carouselImg {
    height: 70vh;
}
.carouselImg:hover {
    opacity: 70%;
}
